# 1 - Data gathering

I am going to use as the main source of info the dataset offered by IMDB in https://datasets.imdbws.com/  
Specifically, I choose the file **title.basics.tsv.gz**, which has this structure according to the documentation:

* tconst (string) - alphanumeric unique identifier of the title
* titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
* primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
* originalTitle (string) - original title, in the original language
* isAdult (boolean) - 0: non-adult title; 1: adult title
* startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
* endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
* runtimeMinutes – primary runtime of the title, in minutes
* genres (string array) – includes up to three genres associated with the title

In [214]:
import pandas as pd

basics = pd.read_csv('data/data.tsv', sep='\t')
basics

C:\Users\carlo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8738245,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8738246,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8738247,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8738248,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8738249,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [215]:
basics.titleType.value_counts(dropna=False)

tvEpisode       6541970
short            858445
movie            603535
video            257832
tvSeries         221817
tvMovie          135194
tvMiniSeries      42352
tvSpecial         36106
videoGame         30513
tvShort           10484
tvPilot               2
Name: titleType, dtype: int64

The amount of items is too big, so I will keep only the movies, with more than 600k items.

In [216]:
basics_movies = basics.loc[basics['titleType'] == 'movie']
basics_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
8738140,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
8738167,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8738179,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
8738190,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
8738200,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

But that is not enough, I need more information, mainly the description, and for that I will use the CinemaGoer library (https://cinemagoer.github.io):

In [217]:
# !pip install cinemagoer
from imdb import Cinemagoer

In [221]:

def get_IMDB_movie_data(movie_ID=''):
    """
    Returns the following information of a title in a list form:
        IMDB rating
        genres
        MPAA rating
        Description
        maybe later: movie_title='',
    """
    if movie_ID=='':
        raise Exception("No title or ID provided")
    
    movie_ID = movie_ID.replace('t', '')
    
    try:
        movie = ia.get_movie(movie_ID)
    except:
        return (pd.NA,pd.NA,pd.NA,pd.NA,pd.NA)

    try:
        rating = movie.data['rating']
        # result['rating'] = movie.data['rating']
    except:
        rating = pd.NA
        # result['rating'] = pd.NA

    try:
        # result['genres'] = 0
        genres = [genre.lower() for genre in movie.data['genres']]
    except:
        # result['genres'] = pd.NA
        genres = pd.NA

    try:
        # result['mpaa'] = [c.split(':')[1] for c in movie.data['certificates'] if (c.startswith('United States') or 'USA' in c)][0]
        MPAA = [c.split(':')[1] for c in movie.data['certificates'] if (c.startswith('United States') or 'USA' in c)][0]
    except:
        # result['mpaa'] = pd.NA
        MPAA = pd.NA

    try:
        # result['description'] = movie.data['plot outline']
        description = movie.data['plot outline']
    except:
        # result['description'] = pd.NA
        description = pd.NA

    try:
        # result['votes'] = movie.data['votes']
        votes = movie.data['votes']
    except:
        # result['votes'] = pd.NA
        votes = pd.NA

    # print(result)
    return (rating,genres,MPAA,description,votes)

In [219]:
movies_sample = basics_movies.sample(200, random_state=42).reset_index()
# movies_sample

In [222]:
extra = movies_sample['tconst'].apply(get_IMDB_movie_data)
extra = pd.DataFrame(extra.to_list(), columns=['rating','genres','mpaa','description','votes'])
# df

2022-03-03 21:12:30,081 CRITICAL [imdbpy] C:\Users\carlo\anaconda3\lib\site-packages\imdb\_exceptions.py:32: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt1381833/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>},); kwds: {}
Traceback (most recent call last):
  File "C:\Users\carlo\anaconda3\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 523, in open
    response = meth(req, response)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 632, in http_response
    response = self.parent.error(
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 561, in error
    return self._call_chain(*args)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 494, in _call_chain
    result = func(*args)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 641, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:
2022-03-03 21:12:30,083 CRITICAL [imdbpy] C:\Users\carlo\anaconda3\lib\site-packages\imdb\__init__.py:833: caught an exception retrieving or parsing "main" info set for mopID "1381833" (accessSystem: http)
Traceback (most recent call last):
  File "C:\Users\carlo\anaconda3\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 523, in open
    response = meth(req, response)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 632, in http_response
    response = self.parent.error(
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 561, in error
    return self._call_chain(*args)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 494, in _call_chain
    result = func(*args)
  File "C:\Users\carlo\anaconda3\lib\urllib\request.py", line 641, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\carlo\anaconda3\lib\site-packages\imdb\__init__.py", line 831, in update
    ret = method(mopID)
  File "C:\Users\carlo\anaconda3\lib\site-packages\imdb\parser\http\__init__.py", line 468, in get_movie_main
    cont = self._retrieve(self.urls['movie_main'] % movieID + 'reference')
  File "C:\Users\carlo\anaconda3\lib\site-packages\imdb\parser\http\__init__.py", line 379, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "C:\Users\carlo\anaconda3\lib\site-packages\imdb\parser\http\__init__.py", line 249, in retrieve_unicode
    raise IMDbDataAccessError(
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt1381833/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>}

In [223]:
movies_sample_big = pd.concat([movies_sample, extra], axis=1)
# movies_sample_big

In [224]:
# !pip install rotten-tomatoes-scraper
from rotten_tomatoes_scraper.rt_scraper import MovieScraper

In [229]:
def get_RT_ratings(movie_title):
    """
    Returns the Rotten Tomatoes critic score and audience score of a title
    """

    # Extract URL
    RT_search = MovieScraper()
    try:
        search_res = RT_search.search(movie_title)

        # Exact match
        url_list = [movie_dict['url'] for movie_dict in search_res['movies']
                    if movie_dict['name'].lower() == movie_title.lower()]
        if len(url_list) == 1:
            url = url_list[0]
        # No exact match -  return the latest one
        elif not url_list:
            url_list = sorted([(movie_dict['url'], movie_dict['year']) for movie_dict in search_res['movies']],
                            key=lambda x: x[1], reverse=True)
            try:
                url = url_list[0][0]
            except:
                return pd.NA, pd.NA
            print(f'No exact match found. Going with {url}')
        # More than one exact match - return the latest one
        elif len(url_list) > 1:
            url_list = sorted([(movie_dict['url'], movie_dict['year']) for movie_dict in search_res['movies']
                            if movie_dict['name'].lower() == movie_title.lower()],
                            key=lambda x: x[1], reverse=True)
            url = url_list[0][0]
            print(f'More than one exact match found. Going with {url}')

        movie_scraper = MovieScraper(movie_url='https://www.rottentomatoes.com' + url)
        movie_scraper.extract_metadata()
    except:
        return pd.NA, pd.NA
        
    try:
        rt_critics_score = int(movie_scraper.metadata['Score_Rotten'])
    except:
        rt_critics_score = pd.NA

    try:
        rt_audience_score = int(movie_scraper.metadata['Score_Audience'])
    except:
        rt_audience_score = pd.NA
        
    return rt_critics_score, rt_audience_score

In [227]:
get_RT_ratings('The Big City')

No exact match found. Going with /m/big_heart_city

(<NA>, 0)

In [230]:
rotten = movies_sample_big['primaryTitle'].apply(get_RT_ratings)
rotten = pd.DataFrame(rotten.to_list(), columns=['rt_critics_score','rt_audience_score'])
rotten

No exact match found. Going with /m/terres_a_taire_histoires_de_soja_ici_et_la_bas
No exact match found. Going with /m/too_loud_a_solitude
No exact match found. Going with /m/big_heart_city
No exact match found. Going with /m/7_virgins_2006
More than one exact match found. Going with /m/cycle_2013
No exact match found. Going with /m/die_pest_in_florenz
No exact match found. Going with /m/hochelaga_land_of_souls
More than one exact match found. Going with /m/the_net_2016
No exact match found. Going with /m/all_things_must_pass_the_rise_and_fall_of_tower_records
No exact match found. Going with /m/penetrando_agujeros_de_ebano
No exact match found. Going with /m/the_nutcracker_and_the_four_realms
No exact match found. Going with /m/power_of_silence_2016
No exact match found. Going with /m/untitled_illumination_animated_film_1
No exact match found. Going with /m/mushroomhead_vol_iii
No exact match found. Going with /m/lets-make-a-grandson
No exact match found. Going with /m/naura_and_genk_juara
No exact match found. Going with /m/fun_to_know_baccarat_made_simple
No exact match found. Going with /m/murder_in_my_house
No exact match found. Going with /m/toastmaster
More than one exact match found. Going with /m/null
No exact match found. Going with /m/1072260-warhead
More than one exact match found. Going with /m/1073316-emma
No exact match found. Going with /m/drifting_petals
No exact match found. Going with /m/vasilisa_prekrasnaya_2012
No exact match found. Going with /m/a_dark_place
No exact match found. Going with /m/ninja-silent-assassin
More than one exact match found. Going with /m/1076267-volcano
No exact match found. Going with /m/outcasts-of-poker-flats
No exact match found. Going with /m/nihon-boryokudan-kumicho-japan-organized-crime-boss
No exact match found. Going with /m/naila_and_the_uprising
No exact match found. Going with /m/french_detective
More than one exact match found. Going with /m/garden_of_eden_2013
No exact match found. Going with /m/war_in_the_desert_2003
More than one exact match found. Going with /m/scrapper_2013
No exact match found. Going with /m/my_love_affair_with_the_brain_the_life_and_science_of_dr_marian_diamond
No exact match found. Going with /m/the_blonde_with_bare_breasts
More than one exact match found. Going with /m/hobsons_choice
No exact match found. Going with /m/blindsided_2020
More than one exact match found. Going with /m/headhunter-2009
No exact match found. Going with /m/the_princess_switch_3_romancing_the_star
No exact match found. Going with /m/janmadinam_1998
No exact match found. Going with /m/going-private-nachbeben
More than one exact match found. Going with /m/midway_2019
More than one exact match found. Going with /m/above_the_clouds_2020
No exact match found. Going with /m/back_to_burgundy
No exact match found. Going with /m/the_end_of_the_tour_2015
No exact match found. Going with /m/la-guns-the-hollywood-years-cocked-and-loaded
No exact match found. Going with /m/the_sharks
No exact match found. Going with /m/only_with_married_men
No exact match found. Going with /m/paris_terror_attack_charlie_hebdo
No exact match found. Going with /m/nazareth-hair-of-the-dog-live-from-london
More than one exact match found. Going with /m/salome
More than one exact match found. Going with /m/black_box_2021
More than one exact match found. Going with /m/the_star_maker_1981

    rt_critics_score rt_audience_score
0                 42                49
1               <NA>              <NA>
2               <NA>              <NA>
3               <NA>              <NA>
4                 94                70
..               ...               ...
195             <NA>                80
196             <NA>              <NA>
197             <NA>              <NA>
198             <NA>              <NA>
199             <NA>              <NA>

[200 rows x 2 columns]

In [231]:
movies_sample_big.to_csv('movies_sample_big.csv', index=False)
rotten.to_csv('rotten.csv', index=False)