# 2 - Cleanup (and maybe processing)
Now that I have merged the downloaded data, I can start studying it to solve the issues thtat can by solved by deleting things.

In [9]:
import pandas as pd


data = pd.read_csv('data\set_movies_sample_big.csv')

In [10]:
data

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,index.1,rating,genres.1,mpaa,description,votes,index.2,rt_critics_score,rt_audience_score
0,5252956,tt2258239,movie,8 First Dates,8 pervykh svidaniy,0,2012,\N,87,Comedy,0,6.1,['comedy'],Not Rated,"[""Vera is a TV star, Nikita is a veterinarian....",1049.0,0,NaN,NaN
1,282345,tt0294888,movie,Sakariba blues,Sakariba blues,0,1968,\N,108,"Action,Crime",1,NaN,"['action', 'crime']",NaN,NaN,NaN,1,NaN,NaN
2,5843848,tt3503004,movie,Polk Road: The Homecoming,Polk Road: The Homecoming,0,2012,\N,79,"Comedy,Mystery,Thriller",2,7.6,"['comedy', 'mystery', 'thriller']",Not Rated,"['After the events that occurred on Polk Road,...",7.0,2,NaN,NaN
3,5194598,tt2191618,movie,"Every Everything: The Music, Life & Times of G...","Every Everything: The Music, Life & Times of G...",0,2013,\N,97,"Documentary,Music",3,7.1,"['documentary', 'music']",Not Rated,"['In marked contrast to ""Color Me Obsessed,"" d...",105.0,3,NaN,20.0
4,29878,tt0030409,movie,Man from Music Mountain,Man from Music Mountain,0,1938,\N,58,Western,4,5.9,['western'],Passed,"[""When nasty land developers try to bilk hones...",153.0,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,90121,tt0092138,movie,L'unique,L'unique,0,1986,\N,85,"Fantasy,Musical,Sci-Fi",195,5.2,"['fantasy', 'musical', 'sci-fi']",NaN,['A famous rock singer is being overtaken. Vox...,31.0,195,NaN,NaN
196,114961,tt0117665,movie,Sleepers,Sleepers,0,1996,\N,147,"Crime,Drama,Thriller",196,7.6,"['crime', 'drama', 'thriller']",R,"['After a prank goes disastrously wrong, a gro...",214200.0,196,73.0,85.0
197,257504,tt0268905,movie,Albertville-Anvers,Albertville-Anvers,0,1951,\N,\N,Documentary,197,NaN,['documentary'],NaN,NaN,NaN,197,NaN,NaN
198,8668422,tt9766688,movie,Biet Chet Lien,Biet Chet Lien,0,2013,\N,95,"Comedy,Horror",198,NaN,"['comedy', 'horror']",NaN,NaN,NaN,198,NaN,NaN
199,5699259,tt3168792,movie,Alberi che camminano,Alberi che camminano,0,2015,\N,59,"Biography,Documentary,History",199,8.5,"['documentary', 'biography', 'history']",Not Rated,"[""Trees that walk is a documentary based on an...",12.0,199,NaN,NaN

According to the definition in https://www.imdb.com/interfaces/ movies don't have an 'End Year', as that value is reserved for series. As such, this column has no use for me.

In [11]:
# data.endYear.value_counts()

In [12]:
cols_to_drop = []
cols_to_drop.append('endYear')

The column ``titleType`` has only movie as values, because I already filtered anything else at the beggining.

In [13]:
cols_to_drop.append('titleType')

The ''index'' column is here as a small mistake when merging the sources and can be dropped without issue. It happens 3 times, but they all will drop at the same time.
The ''tconst'' column, even though it will serve no purpose at modeling because it is just the ID in IMDb, will be kept in case I need to expand information in the future.

In [14]:
cols_to_drop.append('index')

I have two columns of genders, but choosing between them is going to be difficult until I fix the second one to show what I need